<!DOCTYPE html>
<html class="no-js ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Products</title>
    <link rel='stylesheet' id='google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C300italic%2C400italic%2C500%2C500italic%2C700%2C700italic%7COswald%3A400%2C300%2C700&#038;ver=4.5.2' type='text/css' media='all' />
    <link rel='stylesheet' id='normalize-css' href='../../assets/stylesheets/normalize.css' type='text/css' media='all' />
    <link rel='stylesheet' id='site_main-css' href='../../assets/stylesheets/backup.css' type='text/css' media='all' />


    <script type='text/javascript' src='../javascripts/jquery.js'></script>
    <script type='text/javascript' src='../javascripts/jquery-migrate.min.js?'></script>
    <script type='text/javascript' src='../javacripts/modernizr.min.js'></script>
    </head>


<body class="archive tax-cat_new_machine_family term-articulated-trucks term-2 site-1 layouts-master cat-new-taxonomy">
    <header class="page-header" id="page-header">
        <div class="main-header container-fluid">
            <div class="row mobile--relative">
                <div class="col xxs-6 col-xs-3">
                </div>

                <div class="col-xxs-6 col-xs-9 mobile--static">
                    <nav class="nav--primary"><ul id="menu-main-menu" class="menu"><li id="menu-item-1505" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1505"><a href="/equipment">Prodcuts</a>

                        <ul class="sub-menu">
                            <li id="menu-item-2987" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-has-children menu-item-2987"><a href="Productpag.html">Buying</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-type-custom menu-item-object-custom menu-item-2987-1"><a href="Productpag.html">Products</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2" class="menu-item-2"><a href="Productpag.html">Bearings</a></li>
                                            <li id="menu-item-4" class="menu-item-4"><a href="Productpag.html">Pipes</a></li>
                                            <li id="menu-item-8" class="menu-item-8"><a href="Productpag.html">Rods</a></li>
                                            <li id="menu-item-13" class="menu-item-13"><a href="Productpag.html">Fasteners and Eyebolts</a></li>
                                            <li id="menu-item-12" class="menu-item-12"><a href="Productpag.html">Fittings</a></li>
                                            <li id="menu-item-21" class="menu-item-21"><a href="Productpag.html">Gaskets</a></li>
                                            <li id="menu-item-33" class="menu-item-33"><a href="Productpag.html">Hollow Bars</a></li>
                                            <li id="menu-item-114" class="menu-item-114"><a href="Productpag.html">Flanges</a></li>
                                            <li id="menu-item-34" class="menu-item-34"><a href="Productpag.html">Tubes</a></li>
                                            <li id="menu-item-70" class="menu-item-70"><a href="Productpag.html">Instruments</a></li>
                                            <li id="menu-item-79" class="menu-item-79"><a href="Productpag.html"> Welding Consumables</a></li>
                                            <li id="menu-item-111" class="menu-item-111"><a href="Productpag.html">Others</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li id="menu-item-3547" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-has-children menu-item-has-children menu-item-3547"><a href="">Selling</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-type-custom menu-item-object-custom menu-item-3547-1"><a href="SellProd.html">Products</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2" class="menu-item-2"><a href="SellProd.html">Bearings</a></li>
                                            <li id="menu-item-4" class="menu-item-4"><a href="SellProd.html">Pipes</a></li>
                                            <li id="menu-item-8" class="menu-item-8"><a href="SellProd.html">Rods</a></li>
                                            <li id="menu-item-13" class="menu-item-13"><a href="SellProd.html">Fasteners and Eyebolts</a></li>
                                            <li id="menu-item-12" class="menu-item-12"><a href="SellProd.html">Fittings</a></li>
                                            <li id="menu-item-21" class="menu-item-21"><a href="SellProd.html">Gaskets</a></li>

                                            <li id="menu-item-33" class="menu-item-33"><a href="SellProd.html">Hollow Bars</a></li>
                                            <li id="menu-item-114" class="menu-item-114"><a href="SellProd.html">Flanges</a></li>
                                            <li id="menu-item-34" class="menu-item-34"><a href="SellProd.html">Tubes</a></li>
                                            <li id="menu-item-70" class="menu-item-70"><a href="SellProd.html">Instruments</a></li>
                                            <li id="menu-item-79" class="menu-item-79"><a href="SellProd.html"> Welding Consumables</a></li>
                                            <li id="menu-item-111" class="menu-item-111"><a href="SellProd.html">Workcheck</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>


                        </ul>

                        <li id="menu-item-3498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3498"><a href="MarketPlace.html">MarketPlace</a></li>
                        <li id="menu-item-3499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3499"><a href="">Industrial</a>
                            <ul class="sub-menu">
                                <li id="menu-item-3522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3522"><a href="MarketPlace.html">Resale</a></li>
                                <li id="menu-item-16656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16656"><a href="Auction.html">Auction</a></li>
                            </ul>
                        </li>

                        <li id="menu-item-3511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3511"><a href="Productpag.html">Buy</a></li>

                        <li id="menu-item-3500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3500"><a href="SellProd.html">Sell</a></li>
                        <li id="menu-item-3501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3501"><a href="">Company</a>
                            <ul class="sub-menu">
                                <li id="menu-item-11003" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11003"><a href="aboutus.html">About Us</a></li>
                                <li id="menu-item-3502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3502"><a href="location.html">Location</a></li>
                            </ul>
                        </li>
    </ul></nav>

            </div>
            </div>
        </div>
    </header>


<div class="container-fluid">

<header class="masthead row "
    id="masthead"
            style="background-image: url(http://www.this-is-cool.co.uk/wp-content/gallery/john-park/john-park-concept-artwork.jpg)"
    >

<nav class="breadcrumbs text--smaller"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Home</a> | <span class="breadcrumb_last">Products</span></span></span></nav>
<div class="masthead__title">
    <h4 class="page__category bg--black color--white">
    Buying</h4>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                var headHeight = ( parseInt(jQuery(".masthead.row").outerHeight()) - parseInt(jQuery(".breadcrumbs.text--smaller").outerHeight()) );
                var mastheadHeight = ( parseInt( jQuery(".masthead__title").outerHeight() ) / 2 );
                jQuery(".masthead__title").css( 'padding-top', ( parseInt(headHeight/2) - parseInt(mastheadHeight/2) ) - 30 + 'px' );
            });
        </script>

    <h1 class="page-title title--biggest color--white" style="font-size: 100px; line-height: 100px; ">
    Products</h1>
</div>
</header>


<article class="page-content">

    <h2> Ready For Purchase</h2>

    <section class="product-item-card__list">
        <div class="row soft--sides">


<article class="col-md-4 col-xs-6 product-item-card__wrapper hard"  itemscope itemtype="http://schema.org/Product">

<a itemprop="url" href="" class="product-item-card product-item-card__detailed">
    <div class="product-item-card__thumb">
                    <img src="" alt="" itemprop="image" />
        <div class="product-item-card__price">
            <div class="bg--yellow pull--right soft--sides">
                <strong>91-4447100603</strong> for more                </div>

            <div class="bg--black pull--right soft-half--sides">
                <span class="icon-dollar"></span>
            </div>
        </div>
    </div>

    <div class="product-item-card__info">
        <div class="product-item-card__title">
            <h3 itemprop="name">Product Class 1</h3>
        </div>



                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Classsification 1</dt>
                <dd data-english="Cat C18 ACERT "
                    data-metric=" ">
                    Specification 1                  </dd>
            </dl>
        </div>


                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Classification 2</dt>
                <dd data-english="511 hp"
                    data-metric="381 kW">
                    Specification 2                    </dd>
            </dl>
        </div>


                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Class 3 </dt>
                <dd data-english="496 hp"
                    data-metric="370 kW">
                    Spec 3                   </dd>
            </dl>
        </div>

                </div>
</a>

<a class="desk--hide quick-call" href="tel:+914447100603"><strong>91-4447100603</strong> for more</a>
</article>


<article class="col-md-4 col-xs-6 product-item-card__wrapper hard"  itemscope itemtype="http://schema.org/Product">
<a itemprop="url" href="" class="product-item-card product-item-card__detailed">
    <div class="product-item-card__thumb">
        <img src ="" alt="" itemprop="image" />
        <div class="product-item-card__price">
            <div class="bg--yellow pull--right soft--sides">
                <strong>91-4447100603</strong> for more                </div>

            <div class="bg--black pull--right soft-half--sides">
                <span class="icon-dollar"></span>
            </div>
        </div>
    </div>

    <div class="product-item-card__info">
        <div class="product-item-card__title">
            <h3 itemprop="name">Product 2</h3>
        </div>




                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Classification 1</dt>
                <dd data-english="Cat C13 ACERT "
                    data-metric=" ">
                    Spec 1                    </dd>
            </dl>
        </div>


                                <div class="product-item-card__details soft-half--sides soft-half--ends">
                        <dl>
                            <dt>Classification 2</dt>
                            <dd data-english="26.0 tons"
                                data-metric="23.6 tonnes">
                                Spec 2                  </dd>
                        </dl>
                    </div>

                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Classification 3</dt>
                <dd data-english="320.0 hp"
                    data-metric="239.0 kW">
                    Spec 3                    </dd>
            </dl>
        </div>

                </div>
</a>

<a class="desk--hide quick-call" href="tel:+914447100603"><strong>91-4447100603</strong> for more</a>
</article>


<article class="col-md-4 col-xs-6 product-item-card__wrapper hard"  itemscope itemtype="http://schema.org/Product">
<a itemprop="url" href="" class="product-item-card product-item-card__detailed">
    <div class="product-item-card__thumb">
        <img src ="" alt="" itemprop="image" />

        <div class="product-item-card__price">
            <div class="bg--yellow pull--right soft--sides">
                <strong>91-4447100603</strong> for more                </div>

            <div class="bg--black pull--right soft-half--sides">
                <span class="icon-dollar"></span>
            </div>
        </div>
    </div>

    <div class="product-item-card__info">
        <div class="product-item-card__title">
            <h3 itemprop="name">Product 3</h3>
        </div>



                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Classification 2</dt>
                <dd data-english="31.0 tons"
                    data-metric="28.0 tonnes">
                    Spec 1                   </dd>
            </dl>
        </div>


                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Classification 1</dt>
                <dd data-english="Cat C13 "
                    data-metric=" ">
                    Spec 2                     </dd>
            </dl>
        </div>


                    <div class="product-item-card__details soft-half--sides soft-half--ends">
            <dl>
                <dt>Classification 3</dt>
                <dd data-english="375.0 hp"
                    data-metric="280.0 kW">
                    Spec 3                    </dd>
            </dl>
        </div>

                </div>
</a>

<a class="desk--hide quick-call" href="tel:+914447100603"><strong>91-4447100603</strong> for more</a>
</article>
                    </div>
    </section>




    </article>
</div>

<footer class="page-footer container-fluid bg--black" id="page-footer">
    <div class="row soft--bottom">
        <div class="col-xxs-12 col-xs-2 col-md-2 col-lg-2 footer-tagline-block">
            <h3 class="footer__tagline">Reach<br> Us At </h3>

            <address class="footer__address">
        B-70/1 Sipcot Industrial Park<br>
        Irangattukotai, Sriperumbudur- 602105<br>
        Chennai, India<br>
                    </address>

            <div class="footer__contact">
                <span>044-47100603,604</span>
                <a class="footer__email" href="mailto:info@kandlar.com">info@example.com</a>
            </div>
        </div>

        <nav class="nav--footer">
            <ul id="menu-footer-menu-navigation-items-for-the-footer-menu" class="menu">
                <li id="menu-item-4214" class="col-xxs-12 col-xs-2 col-md-2 col-lg-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4214"><a href="Productpag.html">Products</a><br>
                    <ul class="sub-menu">
                        <li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4221"><a href="">Bearings</a></li>
                        <li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4215"><a href="">Rods</a></li>
                        <li id="menu-item-4220" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4220"><a href="">Pipes</a></li>
                        <li id="menu-item-4601" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4601"><a href="">Fasteners</a></li>
                        <li id="menu-item-4219" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4219"><a href="">Fittings</a></li>
                        <li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4216"><a href="">Quarry &#038; Tubes</a></li>
                        <li id="menu-item-4217" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4217"><a href="">Gaskets</a></li>
                        <li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-cat_industry menu-item-4218"><a href="">Consumables</a></li>
                    </ul>
                </li>
                <li id="menu-item-4233" class="col-xxs-12 col-xs-2 col-md-2 col-lg-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4233"><a href="MarketPlace.html">MarketPlace</a><br>
                    <ul class="sub-menu">
                        <li id="menu-item-4235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4235"><a href="">Link 1</a></li>
                        <li id="menu-item-4237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4237"><a href="">Link 2</a></li>
                    </ul>
                </li>
                <li id="menu-item-4228" class="col-xxs-12 col-xs-2 col-md-2 col-lg-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4228"><a href="">Industrial</a><br>
                    <ul class="sub-menu">
                        <li id="menu-item-4230" class="menu-item menu-item-type-taxonomy menu-item-object-re_family menu-item-4230"><a href="MarketPlace.html">Resale</a></li>
                        <li id="menu-item-4231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4231"><a href="auction.html">Auction</a></li>
                    </ul>
                </li>
                <li id="menu-item-4204" class="col-xxs-12 col-xs-2 col-md-2 col-lg-2 menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-4204"><a href="aboutus.html">Company</a><br>
                    <ul class="sub-menu">
                        <li id="menu-item-10999" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10999"><a href="aboutus.html">About</a></li>
                        <li id="menu-item-4205" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-4205"><a href="Custom Web page.html">Home</a></li>
                        <li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row colophon bg--white push--top">
        <div class="col-xs-12 col-md-4">
            <nav class="nav--social">
                <ul class="menu">
                    <h4 style="color: yellow">Follow Us On : --  </h4>
                    <li class="icon-social-facebook"><a target="_blank" href="https://www.facebook.com/"> Facebook</a></li>
                    <li class="icon-social-twitter"><a href="https://twitter.com/"> Twitter</a></li>
                    <li class="icon-social-google button--square"><a href="https://plus.google.com"> Google Plus</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-xs-12 col-md-4 footer-links">
            <p>&copy;2016 </p>

            <nav class="nav--footer">
                <ul class="nav-footer">
                    <li><a href="/legal-notices/">Legal Notices</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/site-credits/">Site Credits</a></li>
                    <li><a href="/sitemap/">Sitemap</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script type='text/javascript' src='../Scripts/infobubble.js'></script>
    <script type='text/javascript' src='../Scripts/underscore.min.js'></script>
    <script type='text/javascript' src='../Scripts/plugins.js'></script>
    <script type='text/javascript'>
    </script>
    <script type='text/javascript' src='../Scripts/main.js'></script>
    <script type='text/javascript' src='//www.leadmanagerfx.com/public/js/lmfx.min.js?ver=4.5.2'></script>

    <script type='text/javascript' src='//www.leadmanagerfx.com/public/js/ctfx.min.js?ver=4.5.2'></script>
    <script type='text/javascript' src='../Scripts/jquery.validate.min.js'></script>
    <script type='text/javascript' src='wp-embed.min.js'></script>
</footer>

</main>
</body>
</html>
